@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root {
    --background-glass-color: rgba(255, 255, 255, 0.6);
    --frosted-glass-effect: blur(0.2em);
    --navbar-margin: 1em;
    --logo-height: 6em; /* Adjust as needed */
    --nav-icon-size: 1.4em; /* Adjust as needed */
    --nav-item-font-size: 1.6em; /* Adjust as needed */
    --nav-item-spacing: 0.5em; /* Adjust as needed */
    --switch-width: 3.5em;
    --switch-height: 2em;
    --slider-diameter: 1.5em;
    --navbar-top-padding: 0.5em;
    --box-shadow-edges: 0 -8px 32px 0 rgba(0, 0, 0, 0.37);
    --box-border-edge: 1px solid rgba(255, 255, 255, 0.2);
}

/* NIGHT STYLE */
body.night-mode .navbar,
body.night-mode .navigation {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
}


/* DAY STYLE */
body.day-mode .navbar,
body.day-mode .navigation {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    background-image: url('background.png'); /* Replace with your background image path */
    background-size: cover;
    background-attachment: fixed;
}
/* TOP PART OF THE NAVBAR */
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navbar-top-padding) var(--navbar-margin);
    border-bottom: var(--box-border-edge);
    box-shadow: var(--box-shadow-edges);
}

.logo {
    height: var(--logo-height);
}

/* Navigation and icon links styling */
.navbar a, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; /* Percentage of the navbar's width */
    height: 3em; /* Responsive height based on font size */
    margin: 0 10px; /* Space between items */
    transition: all 0.3s ease;
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box;
}

    /* Active/Pressed state styling */
    .navbar a:active, .icon:active {
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
        transform: translateY(1px);
    }

/* Flex container for equal distribution */
.nav-links, .icon-container {
    display: flex;
    justify-content: space-around;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays on top of other content */
}

/* BOTTOM PART OF THE NAVBAR */
.navbar-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: var(--box-border-edge);
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: var(--nav-item-font-size);
    margin: 0 var(--nav-item-spacing);
    padding: 0.5em 1em;
}


.nav-icon {
    height: var(--nav-icon-size);
    margin-right: 0.5em;
}

/* SWITCH OFF STYLE (DAY) */
.switch {
    position: relative;
    width: var(--switch-width);
    height: var(--switch-height);
    display: inline-block;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: var(--switch-height);
}

    .slider:before {
        position: absolute;
        content: "";
        height: var(--slider-diameter);
        width: var(--slider-diameter);
        left: 0.25em;
        bottom: 0.25em;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(var(--switch-width) - var(--slider-diameter) - 0.5em);
}

/* SWITCH ON STYLE (NIGHT)*/
.switch {
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Main title with a subtle glow effect */
.hero h1 {
    font-size: 5em; /* Adjusted font size */
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Subtle glow */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
    text-align: center;

}

/*  footer */
.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-bottom: var(--box-border-edge);
    box-shadow: var(--box-shadow-edges);
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Assuming .icon class is used for the anchor tags wrapping the icons and text */
.icon {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if there's extra space */
    text-decoration: none;
    color: white; /* Assuming you want white text */
    font-size: 1.4em;
}

    .icon img {
        height: 1.4em;
        margin: 2px 0; /* Adds space above and below the icon */
    }

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-top, .navbar-bottom {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        font-size: 0.8em; /* Smaller font size for mobile */
        padding: 0.3em 0.6em; /* Smaller padding for mobile */
    }

    .nav-icon {
        height: 0.8em; /* Smaller icons for mobile */
    }

    .hero h1 {
        font-size: 2.5em; /* Smaller font size for smaller screens */
    }

    .navigation {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .icon-container {
        flex-direction: row;
        justify-content: space-around;
        max-width: 500px; /* Adjust based on your design preference */
        margin: 0 auto; /* Centering icons */
    }

    .icon {
        font-size: 0.9em;
        margin: 0 10px; /* Space between icons */
    }

        .icon img {
            height: 1.6em; /* Smaller icons for smaller screens */
        }
}