@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root {
    --background-glass-color: rgba(255, 255, 255, 0.6);
    --frosted-glass-effect: blur(0.5em);
    --navbar-margin: 1em;
    --logo-height: 6em; /* Adjust as needed */
    --nav-icon-size: 1.4em; /* Adjust as needed */
    --nav-item-font-size: 1.6em; /* Adjust as needed */
    --nav-item-spacing: 0.5em; /* Adjust as needed */
    --switch-width: 3.5em;
    --switch-height: 2em;
    --slider-diameter: 1.5em;
    --navbar-top-padding: 0.5em;
    --box-shadow-edges: 0 -0.5em 2em 0 rgba(0, 0, 0, 0.37);
    --box-border-edge: 0.0625em solid rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    background-image: url('background.png'); /* Replace with your background image path */
    background-size: cover;
    background-attachment: fixed;
}

    /* Theme Styles */
    body.night-mode .navbar,
    body.night-mode .navigation,
    body.day-mode .navbar,
    body.day-mode .navigation .about-container {
        backdrop-filter: var(--frosted-glass-effect);
    }

    body.night-mode .navbar, body.night-mode .navigation {
        background: rgba(22, 22, 22, 0.6);
    }

    body.day-mode .navbar, body.day-mode .navigation {
        background: rgba(255, 255, 255, 0.3);
    }
html {
    scroll-behavior: smooth;
}

body {
    scroll-padding-top: 1px; /* Adjust this value to match the height of your fixed header */
}
/* NAVBAR Section */
/* NAVBAR top part */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navbar-top-padding) var(--navbar-margin);
    border-bottom: var(--box-border-edge);
    box-shadow: var(--box-shadow-edges);
}

.logo {
    height: var(--logo-height);
}

.navbar a, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 3em;
    margin: 0 0.625em;
    transition: all 0.3s ease;
    border-radius: 0.3125em;
    box-sizing: border-box;
}



.nav-links, .icon-container {
    display: flex;
    justify-content: space-around;
}

.navbar-title {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 999;
    color: white;
    opacity: 0; /* Start with 0 opacity for fade-in effect */
    visibility: hidden; /* Start with hidden visibility to ensure it's not clickable when not visible */
    animation: fadeIn 2s ease forwards;
}

.title-main {
    font-size: 4em;
}

.title-sub {
    font-size: 1em;
}

/* Apply the fadeOut animation when the navbar title is not visible */
.navbar-title:not(.visible) {
    animation: fadeOut 1s ease forwards;
}

/* Override the animation with fadeIn when it becomes visible */
.navbar-title.visible {
    visibility: visible; /* Make it visible before starting the animation */
    animation: fadeIn 2s ease forwards;
}


/* NAVBAR bottom part */
.navbar-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: var(--box-border-edge);
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: var(--nav-item-font-size);
    margin: 0 var(--nav-item-spacing);
    padding: 0.5em 1em;
}

.nav-icon {
    height: var(--nav-icon-size);
    margin-right: 0.5em;
}
/* Nightmode switch */

/*.navbar a:active, .icon:active {
    box-shadow: inset 0 0.125em 0.25em rgba(0,0,0,0.2);
    transform: translateY(0.0625em);
}*/


.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: calc(var(--switch-height) / 2);
}

    .slider:before {
        position: absolute;
        content: "";
        height: var(--slider-diameter);
        width: var(--slider-diameter);
        left: 0.25em;
        bottom: 0.25em;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

    input:focus + .slider, input:checked + .slider:before {
        box-shadow: 0 0 0.0625em #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(calc(var(--switch-width) - var(--slider-diameter) - 0.5em));
    }
/* Title main Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    position: relative;
    z-index: 2; /* Below the navbar but above the background */
}

    .hero h1 {
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
/*        position: fixed;*/
        width: 100%;
        text-align: center;
        z-index: -1; /* Behind navbar */
        left: 50%;
        top: 50%;
        opacity: 0;
        animation: fadeIn 3s ease forwards; /* Adjust duration (2s) as needed */
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glow effect */
    }

.hero-main {
    font-size: 4em; /* Adjust size as needed */
    color: white; /* Adjust color as needed */
}

.hero-sub {
    font-size: 1.5em; /* Adjust size as needed */
    color: white; /* Adjust color as needed */
    text-decoration: underline; /* Underline 'Productions' */
}


/* FOOTBAR Section */
.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.25em 0;
    border-top: var(--box-border-edge);
    box-shadow: var(--box-shadow-edges);
    backdrop-filter: var(--frosted-glass-effect);
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

    .icon img {
        height: 1.4em;
        margin: 0.125em 0;
    }

/* Common styles for work and content sections */
.section, .content-section, .full-screen-section {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    padding: 0 2em; /* Apply horizontal padding */
    max-width: 1024px;
    transition: transform 0.5s ease-out;
}

.my-work {
    max-width: 1024px;
    margin: auto; /* Center the container */
    margin-bottom: 10em;
}
/* Styles specific to work items */
.work-item {
    background: var(--background-glass-color);
    backdrop-filter: var(--frosted-glass-effect);
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* smooth hover */
    border-top: var(--box-border-edge);
    border-right: var(--box-border-edge);
}

.work-item:hover {
    transform: translateY(-0.25em);
}

.work-item img {
    max-width: 30%;
    height: auto;
}

.work-info {
    padding: 1em;
}

.work-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}

.work-info p {
    margin-top: 0.5em;
    font-size: 1em;
    color: #fff;
}

/* Nav item active state */
.nav-item.active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0.125em 0.25em rgba(0,0,0,0.3);
    transform: translateY(0.03em);
}

.icon.active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0.125em 0.25em rgba(0,0,0,0.3);
    transform: translateY(0.03em);
}


/* Unified container styles for about, contact, and other sections */
.container, .about-container {
    background: var(--background-glass-color);
    backdrop-filter: var(--frosted-glass-effect);
    border-radius: 1em;
    padding: 1em;
    overflow-y: auto;
    border-top: var(--box-border-edge);
    border-right: var(--box-border-edge);
    box-shadow: var(--box-shadow-edges);
    margin-bottom: 8em;
}

/* Define night mode styles for the same containers */
body.night-mode .container,
body.night-mode .about-container {
    background: rgba(22, 22, 22, 0.6);
    color: #ccc; 

}
/* Add night mode styles for .work-item */
body.night-mode .work-item {
    background: rgba(22, 22, 22, 0.6);
    color: #ccc;
}

/* Styling for headings and paragraphs */
h2, #about h2, .text-content p, .about-content p {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}